

body{
    margin: 0;
    padding: 0;
    
    font-family: -apple-system, BlinkMacSystemFont;
}

.link{
    cursor: pointer;
}
.navarrow{
    transition: all 0.3s ease-in-out ;


}
.link:hover > .navarrow{
    transform: scale(1.2) translate(2px, -2px);

}
