

body{
    margin: 0;
    padding: 0;
    
    font-family: -apple-system, BlinkMacSystemFont;
}

.link{
    cursor: pointer;
}
.navarrow{
    transition: all 0.2s ease-out ;


}
.link:hover > .navarrow{
    transform: scale(1.3) translate(1px, -1px);

}
